<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
        <title>Rango</title>
{% endblock %}
    {% block body_block %}
        <div>
            About Page <br /> 
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            <img src="{{MEDIA_URL}}images/cat.jpg"
                 alt="Picture of a cat." />
            <img src="{% static "images\rango2.jpg " %}" alt = "Picture of rango"/>
        </div>

{% endblock %}